<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/home_icon"
        android:label="Mobile World"
        android:roundIcon="@drawable/home_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Task8"
        tools:targetApi="31">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="loginpage"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SignUpPage"
            android:parentActivityName="loginpage" />
        <activity android:name="homepage"
            android:parentActivityName="loginpage" />
        <activity android:name=".OnePlusActivity"
            android:parentActivityName=".homepage" />
        <activity android:name=".AppleActivity"
            android:parentActivityName=".homepage" />
        <activity android:name=".SamsungActivity"
            android:parentActivityName=".homepage" />
        <activity android:name=".OppoActivity"
            android:parentActivityName=".homepage" />
        <activity android:name=".XiaomiActivity"
            android:parentActivityName=".homepage" />
        <activity android:name=".VivoActivity"
            android:parentActivityName=".homepage" />
        <activity android:name=".RatingPage"
            android:parentActivityName=".homepage" />
        <activity android:name=".FeedbackPage"
            android:parentActivityName=".homepage" />
        <activity android:name=".cart" />

    </application>
</manifest>